
*.log
token.txt
.idea/.name
.idea/CresusBot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/encodings.xml
